/* ---- Reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 10px 0px;
}

/* ---- Typography ---- */

body {
  color:#444343;
  font-size: 18px;
  line-height: 147%;
  background-color: white;
}

.small-text {
  font-size: 0.8em;
  margin: 5px 0px;
}

/* ---- General Structures ---- */

h1, h2, h3, li {
  text-align: center;
  margin: 5px 0px;
}
/* ---- Ranking ---- */

#ranking {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

#first-place {
  width: 100%;
}

#second-place, #third-place {
  width: 50%;
}

.place {
  text-align: center
}

.crown {
  width: 100px; 
}

/* ---- Contenders ---- */
#contenders {
  margin: 15px 0px;
}

.contender-name {
  margin: 5px 0px;
}

ul {
  padding: 0px;
}
