/* ---- Reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 40px 0px;
}

/* ---- Typography ---- */

body {
  color:#444343;
  font-size: 18px;
  line-height: 147%;
  background-color: whitesmoke;
}

.small-text {
  font-size: 0.8em;
  margin: 5px 0px;
}

/* ---- General Structures ---- */

h1, h2, h3, li {
  text-align: center;
  margin: 5px 0px;
}

#scores {
  margin: 50px 0px;
}

/* ---- Houses ---- */

.house-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.house{
  text-align: center;
  width: 300px;
  padding: 50px;
  border-radius: 20px;
  margin: 10px 20px;
  color: #fcecec;
}

#red-house {
  background-color: #C3081C;
}

#green-house {
  background-color: #00864B;
}

#blue-house {
  background-color: #5665B5;
}

/* ---- Ranking ---- */

#ranking {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#first-place {
  width: 100%;
}

#second-place, #third-place {
  width: 50%;
}

.place {
  text-align: center
}

.crown {
  width: 100px; 
}

/* ---- Contenders ---- */

.contender-name {
  margin: 5px 0px;
  font-weight: 600;
}

ul {
  padding: 0px;
  list-style-type: none;
}

/* ---- Web Version ---- */

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* ---- Typography ---- */
  body {
    font-size: 2em;
  }

  .small-text {
    font-size: 0.6em;
  }

  h3, .contender-name {
    font-size: 0.8em;
  }

  /* ---- General Structures ---- */
  
  #ranking-contenders-container {
    display: flex;
  }

  /* ---- Houses ---- */
  .house-container {
    margin-bottom: 70px;
  }

  /* ---- Ranking ---- */
  .crown {
    width: 160px; 
  }

  #ranking {
    width: 65%;
  }
  
  /* ---- Contenders ---- */

  #contenders {
    width: 35%;
    padding: 80px 50px 80px 0px;
  }

}